@font-face {
	font-family: 'COD';
	src: url('../fonts/COD_Font.otf') format('opentype');
}

body {
	background: url("../images/background.png") center center fixed;
	background-size: cover;
	font-family: 'Lucida Console', monospace;
	color: black;
	text-align: center;
}

h1 {
	font-family: 'COD', Arial, sans-serif;
	font-size: 2.125rem;
	text-shadow: 2px 2px 4px #7B141C;
}

h2 {
	font-family: 'COD', Arial, sans-serif;
	font-size: 1.875rem;
}

h3 {
	font-family: 'COD', Arial, sans-serif;
	font-size: 1.625rem;
}

h4 {
	font-family: 'COD', Arial, sans-serif;
	font-size: 1.375rem;
}

.nav {
	font-family: 'COD', Arial, sans-serif;
	font-size: 1.75rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.nav li {
	margin: 0 0.938rem;
}

.img, .video {
	display: block;
	margin: 0 auto;
}

/* applies to index */
.index_members {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 0 auto;
	padding: 0.625rem;
	width: 30rem;
	position: relative;
	top: 0.625rem;
}

.index_songs {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 1.875rem auto;
	padding: 0.625rem;
	width: 37.5rem;
	position: absolute;
}

.index_songs ul {
	list-style-type: circle;
	text-align: left;
	margin-left: 10px;
}

.index_songs ul ul {
	list-style-type: square;
	text-align: left;
	margin-left: 40px;
}

/* applies to resume */
.body-resume {
	background-image: linear-gradient(#FFD69E, #FE8066);
	display: flex;
	justify-content: center;
}

.body-resume h3 {
	margin: 1.25rem auto;
}

.resume_exp li {
	list-style-type: circle;
	text-align: left;
	margin-left: 22.5rem;
}

/* applies to games */
.cod_ghosts {
	border: 3px dashed #7B141C;
	background: #FFD69E;
	margin: 0 auto;
	padding: 0.625rem;
	width: 45rem;
	justify-content: center;
	position: relative;
}

.cod_mw {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 1.875rem auto;
	padding: 0.625rem;
	width: 45rem;
	justify-content: center;
}

.cod_mw2 {
	border: 3px dashed #7B141C;
	background: #D54342;
	margin: 1.875rem auto;
	padding: 0.625rem ;
	width: 45rem;
	justify-content: center;
}