@font-face {
	font-family: 'COD';
	src: url('../fonts/COD_Font.otf') format('opentype');
}

body {
	background: url("../images/background.png") center center fixed;
	background-size: cover;
	font-family: 'Lucida Console', monospace;
	color: black;
}

h1 {
	font-family: 'COD', sans-serif;
	text-align: center;
	font-size: 34px;
	color: black;
	text-shadow: 2px 2px 4px #7B141C;
}

h2 {
	font-family: 'COD', sans-serif;
	text-align: center;
	font-size: 24px;
	color: black;
}

.nav {
	font-family: 'COD', sans-serif;
	font-size: 28px;
	color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.nav li {
	margin: 0 15px;
}

/* applies to index */
.index_members {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 0 auto;
	padding: 10px;
	width: 480px;
}

.index_songs {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 30px auto;
	padding: 10px;
	width: 600px;
}

.index_songs ul {
	list-style-type: none;
}

.index_songs ul ul {
	list-style-type: none;
}

/* applies to resume */
.body-resume {
	background-image: linear-gradient(#7B141C, black);
	justify-content: center;
	color: white
}

/* applies to games */
.cod_ghosts {
	border: 3px dashed #7B141C;
	background: #FFD69E;
	margin: 0 auto;
	padding: 10px;
}