@font-face {
	font-family: 'COD';
	src: url('../fonts/COD_Font.otf') format('opentype');
}

body {
	background: url("../images/background.png") center center fixed;
	background-size: cover;
	font-family: 'Lucida Console', monospace;
	color: black;
	text-align: center;
}

h1 {
	font-family: 'COD', sans-serif;
	font-size: 34px;
	text-shadow: 2px 2px 4px #7B141C;
}

h2 {
	font-family: 'COD', sans-serif;
	font-size: 30px;
}

h3 {
	font-family: 'COD', sans-serif;
	font-size: 26px;
}

h4 {
	font-family: 'COD', sans-serif;
	font-size: 22px;
}

.nav {
	font-family: 'COD', sans-serif;
	font-size: 28px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.nav li {
	margin: 0 15px;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.video {
	margin-left: auto;
	margin-right: auto;
}

/* applies to index */
.index_members {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 0 auto;
	padding: 10px;
	width: 480px;
}

.index_songs {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 30px auto;
	padding: 10px;
	width: 600px;
}

.index_songs ul {
	list-style-type: none;
}

.index_songs ul ul {
	list-style-type: none;
}

/* applies to resume */
.body-resume {
	background-image: linear-gradient(#FFD69E, #FE8066);
	justify-content: center;
}

.body-resume h3 {
	margin: 20px auto;
}

/* applies to games */
.cod_ghosts {
	border: 3px dashed #7B141C;
	background: #FFD69E;
	margin: 0 auto;
	padding: 10px;
	width: 720px;
	justify-content: center;
}

.cod_mw {
	border: 3px dashed #7B141C;
	background: #FE8066;
	margin: 30px auto;
	padding: 10px;
	width: 720px;
	justify-content: center;
}

.cod_mw2 {
	border: 3px dashed #7B141C;
	background: #D54342;
	margin: 30px auto;
	padding: 10px;
	width: 720px;
	justify-content: center;
}